extends layout

block content
  h2= titulo
  img(src=obra.imagen, alt=obra.titulo)
  p Autor: #[strong= obra.autor] — Año: #[strong= obra.año]
  p= obra.descripcion

  form(action='/carrito/agregar', method='POST')
    input(type='hidden', name='id', value=obra.id)
    button.boton-agregar(type='submit') Agregar al carrito

  a(href='/galeria') ← Volver a Galería
